* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  width: 220px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.rectangle {
  background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
  height: 68px;
}

.slaca-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 68px;
  color: #ffffff;
}

ul li {
  padding: 0 0 9px 24px;
  border-bottom: 2px solid #e7e7e7;
}

ul li a {
  font-family: "Quicksand";
  font-size: 15px;
  color: hsl(0, 11%, 40%);
}

.active {
  background-color: #fdf1eb;
  border-left: 5px;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-image: linear-gradient(180deg, #ffb455 0%, #ed7839 100%) 1;
  border-style: solid;
}

.main {
  margin-left: 220px;
}

.navbar-container {
  background-color: #fdf1eb;
  font-family: "Roboto";
  color: #725c5c;
}

#title-1 {
  font-size: 14px;
  line-height: 16.41px;
}

#title-2 {
  font-size: 22px;
  line-height: 25.78px;
}

#title-3 {
  font-size: 14px;
  line-height: 16.41px;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-title {
  margin-right: 80px;
}

.navbar-lang-selector {
  display: flex;
  align-items: center;
  color: #333333;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-right: 22px;
  padding: 5px;
}

.navbar-info {
  display: flex;
}

.navbar-login-info {
  display: flex;
}

.login-text {
  text-align: right;
  font-family: "Quicksand";
}

#login-image {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.notification {
  background-color: #f85959;
  width: 12px;
  height: 12px;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  position: absolute;
}

/* .fa-angle-down {
  width: 6px;
  height: 4px;
} */
